/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Custom ****/

#isotope-options{}
#isotope-filters{ margin: 20px 0px 30px 0px; padding: 0px 0px 0px 0px; list-style: none; background: #3a3937;}
#isotope-filters li{display: inline-block; float: left; margin-right: 0px; margin-bottom: 0px;}
#isotope-filters li a{display:block; font-family: "Open Sans", sans-serif; font-weight: 400; text-decoration: none; font-size: 16px; line-height: 20px; color: #e3e3e3;padding: 15px 25px; position: relative;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#isotope-filters li a.selected, #isotope-filters li a:hover{color: #000; background: #f5bf1e;}
#isotope-filters li a.selected:before, #isotope-filters li a:hover:before{content: ''; width: 14px; height: 5px; background: url(../img/arr2.png) 0 0 no-repeat; position: absolute; bottom: -5px; left: 50%; margin-left: -7px;}

#isotope-items.thumbnails{margin-bottom: 0;}
#isotope-items.thumbnails > li{margin-bottom: 30px;}