{% extends 'tpl/base.html' %}{% load staticfiles i18n %}

{% block content %}
<div class="row">
<div class="span12">
	
<h2>{% trans 'Oops! ... Crash! ... Pop! ... Puff! ... Boom!' %}</h2>

<div class="row">
  <div class="span7">
    <div class="page-404">
      <p class="txt1">404</p>
      <p class="txt2">{% trans 'PAGINA NON TROVATA' %}</p>
    </div>
  </div>
  <div class="span5">
    <p>
      {% blocktrans%}
        Ezechiele 25.17: "Il cammino dell'uomo timorato è minacciato da ogni parte dalle iniquità degli esseri egoisti e dalla tirannia degli uomini malvagi. Benedetto sia colui che nel nome della carità e della buona volontà conduce i deboli attraverso la valle delle tenebre; perché egli è in verità il pastore di suo fratello e il ricercatore dei figli smarriti. E la mia giustizia calerà sopra di loro con grandissima vendetta e furiosissimo sdegno su coloro che si proveranno ad ammorbare ed infine a distruggere i miei fratelli. E tu saprai che il mio nome è quello del Signore quando farò calare la mia vendetta sopra di te". (Jules Winnfield)
      {% endblocktrans %}
    </p>
      <p>
          [Pulp Fiction, 1994]
      </p>

  </div>
</div>

</div>	
</div>	
{% endblock %}
