{% extends 'tpl/base.html' %}{% load staticfiles i18n %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.caroufredsel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script>
$(document).ready(function() {
	//
	

	//	carouFredSel team
	$('#team .carousel.main ul').carouFredSel({
		auto: {
			timeoutDuration: 8000					
		},
		responsive: true,
		prev: '.team_prev',
		next: '.team_next',
		width: '100%',
		scroll: {
			items: 1,
			duration: 1000,
			easing: "easeOutExpo"
		},			
		items: {
        	width: '200',
			height: 'variable',	//	optionally resize item-height			  
			visible: {
				min: 1,
				max: 6
			}
		},
		mousewheel: false,
		swipe: {
			onMouse: true,
			onTouch: true
			}
	}); 

	



	$(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
	function updateSizes_vat(){
		
		$('#team .carousel.main ul').trigger("updateSizes");		
		
	}
	updateSizes_vat();


}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}


{% block content %}

<div class="row">
<div class="span12">
<h2>Little About Us</h2>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="{% static 'img/about01.jpg' %}" alt=""></figure>
		<div class="caption">
			<p>
				<b>
					Ipsum dolor sit amet conse
				</b>
			</p>
			<p>
				Ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit.<br><br>

<a href="#">Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. </a><br><br>

Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
			</p>
			<a href="#" class="button1">details</a>
		</div>
	</div>
</div>


</div>	
</div>	
<div class="row">
<div class="span6">
	
<h2>Why Choose Us</h2>

<h3>Ipsum dolor sit amet conse</h3>

<p>
	Ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. 
</p>

<p>
	Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet mauris ligula id ipsum. Vestibulum pede. Maecenas sit amet augue. Sed blandit lect
</p>

</div>


<div class="span6">
	
<h2>news & Events</h2>

<div class="thumb2">
	<div class="thumbnail clearfix">
		<a href="#">
			<figure class=""><img src="{% static 'img/home02.jpg' %}" alt=""></figure>
			<div class="caption">
				<div class="txt1">December 18, 2014</div>
				<div class="txt2">Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor. <div class="arr1"></div></div>			
			</div>
		</a>
	</div>
</div>

<div class="thumb2">
	<div class="thumbnail clearfix">
		<a href="#">
			<figure class=""><img src="{% static 'img/home03.jpg' %}" alt=""></figure>
			<div class="caption">
				<div class="txt1">September 04, 2014</div>
				<div class="txt2">Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor. <div class="arr1"></div></div>			
			</div>
		</a>
	</div>
</div>

<div class="thumb2">
	<div class="thumbnail clearfix">
		<a href="#">
			<figure class=""><img src="{% static 'img/home04.jpg' %}" alt=""></figure>
			<div class="caption">
				<div class="txt1">July 18, 2014</div>
				<div class="txt2">Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor. <div class="arr1"></div></div>			
			</div>
		</a>
	</div>
</div>

<a href="#" class="button1">news archive</a>


</div>
</div>
{% endblock %}


{% block bottom %}
<div id="team_wrapper">
<div class="container">

<h2>Our Team</h2>

<div id="team">
<a class="team_prev" href="#"></a>
<a class="team_next" href="#"></a>		
<div class="carousel-box">
	<div class="inner">			
		<div class="carousel main">
			<ul>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team01.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Mark Spenser</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team02.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">John Doe</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team03.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Amanda Smith</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team04.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Roman Wolf</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team05.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Patrick Johnson</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team06.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Peter Miller</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team01.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Mark Spenser</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team02.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">John Doe</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team03.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Amanda Smith</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team04.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Roman Wolf</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team05.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Patrick Johnson</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
				<li>
					<div class="team">
						<div class="team_inner">
							<a href="#">
								<figure><img src="{% static 'img/team06.jpg' %}" alt="" class="img"></figure>
								<div class="caption">
									<div class="txt1">Peter Miller</div>
									<div class="txt2">Aenean semper aliquet libero.</div>
								</div>																
							</a>
						</div>						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>	
</div>	
</div>
{% endblock %}
